{% extends 'base.html' %}
{% block content %}



	<h1>{{ park['park'] }}</h1>


	<p>You are headed off to {{ park['park'] }} National Park, located in {{ park['location'] }}. Founded on {{ park['date'] }}, {{ park['park'] }} national park has {{ park['visitors'] }} visitors a year. </p>


	<p class=desc>{{ park['desc'] }} </p>

	<div id=map>
	<script src="https://www.rome2rio.com/Scripts/Widget/dist/injector/injector.js"></script>
	<div id="r2r-widget"></div>
	<script>
	R2RWidget.insert({"elementId":"r2r-widget","size":"leaderBoard","title":"","fromLabel":"I'm here","toLabel":"Take me to","searchLabel":"LET'S GO","fromOverride":false,"fromCanonical":"","fromText":"","toOverride":true,"autocompleteTo":"","baseUrl":"https://www.rome2rio.com","width":850,"height":90,"toCanonical":"{{ park['park'] }}","toText":"{{ park['park'] }}","style":"white"});
	</script>
</div>


<div id=mobilemap>
	<script src="https://www.rome2rio.com/Scripts/Widget/dist/injector/injector.js"></script>
	<div id="r2r-widget2"></div>
	<script>
	R2RWidget.insert({"elementId":"r2r-widget2","size":"mrec","title":"","fromLabel":"I'm here","toLabel":"Take me to","searchLabel":"LET'S GO","fromOverride":false,"fromCanonical":"","fromText":"","toOverride":true,"autocompleteTo":"","baseUrl":"https://www.rome2rio.com","width":300,"height":250,"toCanonical":"{{ park['park'] }}","toText":"{{ park['park'] }}","style":"white"});
	</script>
</div>

	<p><a href="{{ url_for('index') }}">Check out another pair</a></p>


{% endblock %}
